.cell-empty {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: black;
}


.cell-tank{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: green;
}

.cell-wall {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: blue;
}

.cell-bullet {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: brown;
}

.cell-number {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: lawngreen;
}

.cell-mine{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: gray;
}

.battlefield {
    -fx-alignment: center;
}

.battlefield-debug {
    -fx-grid-lines-visible: true;
}


